.header{
    p{
        margin-top: 0;
        margin-bottom: 0;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    .categories{
        display: flex;
        flex-direction: row;
        .isActive{
            color: #5ECE7B;
            border-bottom: 1px solid #5ECE7B ;
            cursor: pointer;
        }
        a{
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            margin-right:32px; 
            text-decoration: none;
            color:#1D1F22;
            &:last-child{
                margin-right:0;  
            }
            &:hover{
                color: #5ECE7B;
                cursor: pointer;
            }            
            
            
          
        }
    }
    .shop{
        width :31.16px;
        height:30.18px;
        background-image:url('../pictures/Brand_icon.svg') ;
        background-position: center;
    }
    .cartName{
        font-weight: bold;
        font-size: 16px;
        line-height: 160%;
        font-style: normal;
    }
    .cartPrice{
        position: relative;
        display: flex;
        flex-direction: row;
        height: 30px;
        .currencyList{
            position: absolute;
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
            list-style-type: none;
            width: 114px;
            padding: 0 0 20px 0;
            left: -20px;
            top:20px;
            background-color: white;
            z-index: 15;
            
            li{
                margin: 20px 0 0 20px;
                &:hover{
                    cursor: pointer;
                }

            }
        }
        .price{
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            &:hover{
                cursor: pointer;
            }
            .arrow{
                display: inline-block;
                width :6px;
                height:10px;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 10px;
               
            }
            .down{
                background-image:url('../pictures/arrowDown.svg') ;
            }
            .up{
                background-image:url('../pictures/arrowUp.svg') ;
            }
            margin-right: 32px;
            
        }
        .cart{
            position: relative;
            width :20px;
            background-image:url('../pictures/cart.svg') ;
            height: 26px;
            background-repeat: no-repeat;
            background-position: center;
            &:hover{
                cursor: pointer;
            }
            .counts{
                display: inline-block;
                position: absolute;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: white;
                background-color: black;
                border-radius: 50%;
                width: 19px;
                height: 19px;
                text-align: center;
                left: 28%;
                top: -24%;
            }
        }
    }
    
    .smallCart{
        width: 1200px;
        height: 100vh;
        position: absolute;
        z-index: 10;
        top:5%;   
        .containerSmall{
            background-color: silver;
            width: 1200px;
            height: 100vh;
            opacity: 0.5;
            position: absolute;
  
      
    }
    .container{
        position: absolute;
        width: 325px;
        left:60%;
        background-color: white;
        z-index: 11;
        font-size: x-small;  
        .smallCartTitle{
            font-size: 16px;
            line-height: 160%;
            span{
                font-weight: bold;
            }
        }
        .buttons{
            display: flex;
            justify-content:space-between;
            button{
                width: 140px;
                height: 43px;
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                &:hover{
                    border: none;
                    background: #5ECE7B;
                    color:white;
                    cursor:pointer;
    
                }
            }
        }
        .cartPage{
            .cartProduct{
                .aboutPr{
                    width: 50%;
                    flex-direction: column;
                    .divCont{
                        .brand,.nameP,.cost{
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 160%;
                        }
                    }
                    .attrInCart{
                        margin: 0;
                    .size,.color{
                        width: 43px;
                        height: 25px;
                        line-height: 25px;
                        font-size:small;
                        &:hover{
                            cursor: auto;
                        }
                    }
                    }
                }
                .divCont2{
                    width: 50%;
                    .plusMinus{
                        .plus{
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                        }
                    }
                    .galleryCart{
                        .arrows{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    }
}